@font-face {
  font-family: "gilroy400";
  src: url("./fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "gilroy700";
  src: url("./fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "gilroy300";
  src: url("./fonts/Gilroy-Light.ttf");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.audio {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 10px;
  height: 80px;
  background-color: black;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.player-item{
  width: 60%;
}

.top{
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top img{
  filter: invert(100%);
  position: absolute;
  top: 30%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.bottom{
  position: absolute;
  height: 10px;
  border-radius: 5px;
  top: 70%;
  right: -50%;
  width: 80%;
  align-items: center;
  transform: translate(-50%, -50%);
  display: flex;
}
.hm{
  margin: 0 10px 0 10px;
}
.long{
  width: 40%;
  height: 5px;
  background-color: #00ECBE;
}

.search_treck.active{
  position: absolute;
  width: 100%;
  top: 60px;
  border-radius: 10px;
  height: max-content;
  color: black;
  background-color: #fff;
  backdrop-filter: blur(10px) !important;
  opacity: 0.8;
  height: 200px;
}

.audio-user {
  width: 20%;
  padding: 0 20px;
  color: #fff;
}

.hg{
  display: none;
}

.hg:hover{
  cursor: pointer;
}

.treck_audio {
  width: 0%;
  margin: 0 auto !important;
}

.audio-user-album {
  font-size: 16px;
}

.audio-play {
  width: 50%;
  margin: 0 auto;
}

.hg.active{
  display: block;
}

figure {
  display: none;
  width: 70%;
  display: flex;
  position: absolute;
  left: 10px;
}

audio {
width: 0px;
}

.aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: #0F2825;
  padding: 35px 40px 100px 40px;
  overflow-y: auto;
  z-index: 10;
}

.aside-logo {
  display: block;
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-bottom: 45px;
}

.aside-logo img {
  width: 100%;
  height: 100%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.list {
  width: 100%;
  display: grid;
  font-size: 20px;
  margin-bottom: 30px;
}

.list p,
.list a {
  padding: 7px 0;
}

.list-name {
  text-transform: uppercase;
  color: #8E9AA7;
}

.list-link {
  color: #fff;
  border-radius: 10px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.list-link::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: #00ECBE;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.list-link:hover::after {
  width: 100%;
}

.list-link:hover {
  color: #00ECBE;
}

.list-link.active {
  color: #00ECBE;
}

.list-link.active::after {
  width: 100%;
}

.header {
  width: 80%;
  height: 120px;
  z-index: 100;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #002C23;
}

.header .aside-logo {
  margin-bottom: 0px;
  display: none;
}

.header-search {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header-search img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  position: absolute;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-user {
  color: #fff;
  font-size: 20px;
}

.header-user-name {
  margin-bottom: 5px;
}

.header-user-status {
  font-size: 16px;
  text-align: end;
  color: #8E9AA7;
}

.search {
  width: 100%;
  height: 50px;
  background-color: #265249;
  padding: 0 50px 0 55px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
}

.search::-webkit-input-placeholder {
  color: #8E9AA7;
  font-size: 16px;
}

.search::-moz-placeholder {
  color: #8E9AA7;
  font-size: 16px;
}

.search:-ms-input-placeholder {
  color: #8E9AA7;
  font-size: 16px;
}

.search::-ms-input-placeholder {
  color: #8E9AA7;
  font-size: 16px;
}

.search::placeholder {
  color: #8E9AA7;
  font-size: 16px;
}

.info_tracks {
  background: rgb(30, 78, 17);
  background: linear-gradient(180deg, #226e22 35%, rgba(0, 0, 0, 0.43) 100%);
  width: 100%;
  height: 500px;
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.name-tracks {
  font-weight: bold;
  font-size: 80px;
  color: #00ECBE;
}

.name-track {
  font-size: 58px;
}

.time {
  font-size: 16px;
}

.right-left img {
  width: 25px;
  padding: 3px;
  background-color: white;
  border-radius: 50%;
}

.right-left img:hover {
  cursor: pointer;
}

.carousel {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.circle {
  background-color: #4E555D;
  width: 11px;
  height: 11px;
  margin: 5px;
  padding: 3px;
  border-radius: 50%;
}

.circle.active {
  background-color: #0b440b;
}

.circle:hover {
  cursor: pointer;
}

.left-side .time {
  margin-top: 18px;
  margin-bottom: 18px;
}

.album {
  -webkit-box-shadow: 15px -15px 6px 5px #ffffff6b;
  box-shadow: 15px -15px 6px 5px #ffffff6b;
}

.tracks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #191C21;
  padding: 50px;
}

.item {
  text-transform: uppercase;
  font-size: 20px;
  color: #7a7e83;
  font-weight: 600;
}

.track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.time-menu {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.time-menu p {
  margin: 5px;
}

.time-menu img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.num {
  margin-right: 15px;
}

.toUpper {
  text-transform: uppercase;
  color: black;
}

.menu {
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
  width: 150px;
  padding: 5px 10px;
  top: -100px;
  right: -150px;
  /* display: none; */
  position: absolute;
  background-color: white;
  backdrop-filter: blur(10px);
  opacity: 0;
  border-radius: 6px;
}


.toUpper:hover {
  cursor: pointer;
}

.menu.active {
  opacity: 0.8;
  display: block;
  z-index: 101;
  height: max-content;
  transform: translateY(0);
}

.three-circle:hover {
  cursor: pointer;
}

.three-circle {
  margin-left: 5px;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #191C21;
}

*::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #4E555D;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #7a7e83;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Gilroy';
  text-decoration: none;
}

body {
  background-color: black;
  color: white;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  background: #1e4e11;
  background: -o-linear-gradient(top, #003329, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(180deg, #003329, rgba(0, 0, 0, 0) 100%);
}

.switch-button_2:before {
  content: "Premium";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}

.switch-button,
.switch-button_2 {
  background: rgba(255, 255, 255, 0.56);
  border-radius: 30px;
  overflow: hidden;
  width: 240px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: #155fff;
  position: relative;
  padding-right: 120px;
  position: relative;
}

.switch-button:before {
  content: "Light";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}

.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

.switch-button-checkbox:checked+.switch-button-label:before {
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  -o-transition: transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}

.switch-button-checkbox+.switch-button-label {
  position: relative;
  padding: 15px 0;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.switch-button-checkbox+.switch-button-label:before {
  content: "";
  background: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  -o-transition: transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.switch-button-checkbox+.switch-button-label .switch-button-label-span {
  position: relative;
  color: black;
}

.form {
  width: 40%;
  margin-top: 70px;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.name input {
  border-radius: 10px;
  border: none;
  background-color: #53575e;
  opacity: 0.8;
  padding: 20px 20px;
  margin-bottom: 45px;
}

.name input::-webkit-input-placeholder {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.name input::-moz-placeholder {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.name input:-ms-input-placeholder {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.name input::-ms-input-placeholder {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.name input::placeholder {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.name_someone {
  margin: 10px 0;
}

.dark p {
  margin: 10px 0;
}

.premium {
  margin-top: 50px;
}

.premium p {
  margin: 10px 0;
}

.sorry {
  margin-top: 100px;
}

body {
  font-family: "gilroy400", sans-serif;
  font-size: 20px;
  background: #fff;
}

.wrapper {
  width: 80%;
  float: right;
  background-color: #002C23;
  position: relative;
  z-index: 1;
}

main {
  width: 100%;
  margin-top: 120px;
}

.about .name p {
  font-size: 18px;
}

.menu {
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  width: 150px;
  padding: 5px 10px;
  top: -100px;
  right: -150px;
  display: none;
  position: absolute;
  background-color: #fff;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0;
  border-radius: 6px;
  font-size: 16px;
}

.close {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
}

.close.active {
  display: block;
}



@font-face {
  font-family: gilroy400;
  src: url(fonts/Gilroy-Regular.ttf)
}

@font-face {
  font-family: gilroy700;
  src: url(fonts/Gilroy-Bold.ttf)
}

@font-face {
  font-family: gilroy300;
  src: url(fonts/Gilroy-Light.ttf)
}

* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400
}

.audio {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #000;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.audio-user {
  width: 20%;
  padding: 0 20px;
  color: #fff
}

.audio-user-album {
  font-size: 16px
}

.audio-play {
  width: 50%;
  margin: 0 auto
}

.aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: #0f2825;
  padding: 35px 40px 100px 40px;
  overflow-y: auto;
  z-index: 10
}

.aside-logo {
  display: block;
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-bottom: 45px
}

.aside-logo img {
  width: 100%;
  height: 100%;
  -webkit-filter: invert(100%);
  filter: invert(100%)
}

.list {
  display: grid;
  font-size: 20px;
  margin-bottom: 30px
}

.list a,
.list p {
  padding: 7px 0
}

.list-name {
  text-transform: uppercase;
  color: #8e9aa7
}

.list-link {
  color: #fff;
  border-radius: 10px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative
}

.list-link::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: #00ecbe;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s
}

.list-link:hover::after {
  width: 100%
}

.list-link:hover {
  color: #00ecbe
}

.list-link.active {
  color: #00ecbe
}

.list-link.active::after {
  width: 100%
}

.header {
  width: 80%;
  height: 120px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.header-search {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative
}

.header-search img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  position: absolute;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.header-user {
  color: #fff;
  font-size: 20px
}

.header-user-name {
  margin-bottom: 5px
}

.header-user-status {
  font-size: 16px;
  text-align: end;
  color: #8e9aa7
}

.search {
  width: 100%;
  height: 50px;
  background-color: #265249;
  padding: 0 50px 0 55px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px
}

.search::-webkit-input-placeholder {
  color: #8e9aa7;
  font-size: 16px
}

.search::-moz-placeholder {
  color: #8e9aa7;
  font-size: 16px
}

.search:-ms-input-placeholder {
  color: #8e9aa7;
  font-size: 16px
}

.search::-ms-input-placeholder {
  color: #8e9aa7;
  font-size: 16px
}

.search::placeholder {
  color: #8e9aa7;
  font-size: 16px
}

.info_tracks {
  height: 500px;
  background: #1e4e11;
  background: -webkit-gradient(linear, left top, left bottom, from(#003329), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, #003329, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(180deg, #003329, rgba(0, 0, 0, 0) 100%);
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.name-tracks {
  font-weight: 700;
  font-size: 80px;
  color: #00ecbe
}

.name-track {
  font-size: 58px
}

.time {
  font-size: 16px
}

.right-left img {
  width: 25px;
  padding: 3px;
  background-color: #fff;
  border-radius: 50%
}

.right-left img:hover {
  cursor: pointer
}

.carousel {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.circle {
  background-color: #4e555d;
  width: 11px;
  height: 11px;
  margin: 5px;
  padding: 3px;
  border-radius: 50%
}

.circle.active {
  background-color: #0b440b
}

.circle:hover {
  cursor: pointer
}

.left-side .time {
  margin-top: 18px;
  margin-bottom: 18px
}

.album {
  -webkit-box-shadow: 15px -15px 6px 5px #ffffff6b;
  box-shadow: 15px -15px 6px 5px #ffffff6b
}

.tracks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #191c21;
  padding: 50px
}

.item {
  text-transform: uppercase;
  font-size: 20px;
  color: #7a7e83;
  font-weight: 600
}

.track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.time-menu {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative
}

.time-menu p {
  margin: 5px
}

.time-menu img {
  -webkit-filter: invert(100%);
  filter: invert(100%)
}

.num {
  margin-right: 15px
}

.toUpper {
  text-transform: uppercase;
  color: #000
}

.menu {
  transform: translateY(10px);
  transition: .3s ease;
  width: 150px;
  padding: 5px 10px;
  display: none;
  top: -100px;
  right: -150px;
  position: absolute;
  background-color: #fff;
  backdrop-filter: blur(10px);
  opacity: 0;
  border-radius: 6px;
  font-size: 16px;
}

.toUpper:hover {
  cursor: pointer
}

.menu:hover {
  transform: translateY(0);
  opacity: 1;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content
}

.three-circle {
  margin-left: 5px
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #191c21
}

body::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, .2) inset;
  background-color: #4e555d;
  border-radius: 10px
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #7a7e83
}

* {
  padding: 0;
  margin: 0;
  font-family: Gilroy;
  text-decoration: none
}

body {
  background-color: #000;
  color: #fff;
  height: calc(100% + 300px);
}

.wrapper {
  width: 100%;
  height: 100%;
  background: #1e4e11;
  background: -webkit-gradient(linear, left top, left bottom, from(#003329), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, #003329, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(180deg, #003329, rgba(0, 0, 0, 0) 100%)
}

.switch-button_2:before {
  content: "Premium";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none
}

.switch-button,
.switch-button_2 {
  background: rgba(255, 255, 255, .56);
  border-radius: 30px;
  overflow: hidden;
  width: 240px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: #155fff;
  position: relative;
  padding-right: 120px;
  position: relative
}

.switch-button:before {
  content: "Light";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none
}

.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2
}

.switch-button-checkbox:checked+.switch-button-label:before {
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  -o-transition: transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear
}

.switch-button-checkbox+.switch-button-label {
  position: relative;
  padding: 15px 0;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none
}

.switch-button-checkbox+.switch-button-label:before {
  content: "";
  background: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s
}

.switch-button-checkbox+.switch-button-label .switch-button-label-span {
  position: relative;
  color: #000
}

.form {
  width: 40%;
  margin-top: 70px
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.name input {
  border-radius: 10px;
  border: none;
  background-color: #53575e;
  opacity: .8;
  padding: 20px 20px;
  margin-bottom: 45px
}

.name input::-webkit-input-placeholder {
  font-size: 20px;
  font-weight: 600;
  color: #fff
}

.name input::-moz-placeholder {
  font-size: 20px;
  font-weight: 600;
  color: #fff
}

.name input:-ms-input-placeholder {
  font-size: 20px;
  font-weight: 600;
  color: #fff
}

.name input::-ms-input-placeholder {
  font-size: 20px;
  font-weight: 600;
  color: #fff
}

.name input::placeholder {
  font-size: 20px;
  font-weight: 600;
  color: #fff
}

.name_someone {
  margin: 10px 0
}

.dark p {
  margin: 10px 0
}

.premium {
  margin-top: 50px
}

.premium p {
  margin: 10px 0
}

.sorry {
  margin-top: 100px
}

body {
  font-family: gilroy400, sans-serif;
  font-size: 20px;
  background: #fff
}

.wrapper {
  width: 80%;
  float: right;
  background-color: #002c23;
  position: relative;
  z-index: 1;
  right: 0;
}

main {
  width: 100%;
}

.menu.active {
  opacity: 1;
  display: block;
  height: max-content;
  transform: translateY(0);
}

.track:hover {
  cursor: pointer;
}

.create {
  background-color: transparent;
  color: white;
  width: 150px;
  border-radius: 5px;
  height: 40px;
  border: 1px solid white;
}

.modal.active {
  animation: jump 1s ease;
  animation-fill-mode: forwards;
}

.modal {
  transition: .3s ease;
  position: absolute;
  top: 0;
  transform: translateY(-1000px);
  left: 0;
  right: 0;
  z-index: 100;
  overflow-x: hidden;
  bottom: 0;
}

@keyframes jump {
  0% {
    transform: translateY(-1000px);
  }

  25% {
    transform: translateY(0px);
  }

  40% {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px);
  }
}

.bg {
  background-color: #00000060;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px) !important;
}

.show {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  /* height: 200px; */
  background-color: #002c23;
  border-radius: 10px;
  padding: 20px 10px;
  transform: translate(-50%, -50%);
}

.show h1 {
  width: fit-content;
  margin: 0 auto;
  font-size: 35px;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.input {
  border-radius: 10px;
  margin: 10px 0;
  height: 40px;
  font-size: 20px;
  padding: 5px 10px;

}

.input::target-text {
  font-size: 20px;
}

.input::placeholder {
  font-size: 20px;
}

.show button {
  background-color: transparent;
  color: white;
  width: 150px;
  border-radius: 5px;
  height: 40px;
  border: 1px solid white;
}


@media only screen and (max-width: 1000px) {
  .name-tracks {
    font-size: 30px;
  }

  .list-link {
    font-size: 16px;
  }

  .name-track {
    font-size: 30px;
  }

  .album {
    width: 250px;
    font-size: 16px;
  }

  .aside {
    padding: 25px 40px 100px 20px;
  }

  .about .name p {
    font-size: 14px;
  }

  .main {
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .list-link {
    font-size: 12px;
  }

  .list-name {
    font-size: 16px;
  }

  .item {
    font-size: 16px;
  }

  .left-random {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .menu {
    width: 80px;
    right: -35px;
    top: -120px;
  }

  .tracks {
    grid-template-columns: 1fr;
  }

  .list-name {
    font-size: 12px;
  }

  .list-link {
    font-size: 10px;
  }

  .album {
    width: 150px;
  }

  .info_tracks {
    padding: 30px;
  }

  .carousel {
    margin-top: 40px;
  }

  .info_tracks {
    height: fit-content;
  }

  .track {
    justify-content: space-between !important;
  }

  .about {
    width: 80%;
  }

  .aside-logo {
    width: 40px;
    height: 40px;
  }

  .toUpper {
    font-size: 14px;
  }
}

.aside.active {
  transform: translateX(0px);
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .header .aside-logo {
    display: block;
    filter: invert(100%);
    margin-left: 10px;
  }

  .aside {
    transform: translateX(-100px);
    transition: .3s ease;
  }


  .wrapper, .header {
    width: 100%;
  }

  .name-tracks {
    font-size: 25px;
  }

  main {
    margin-top: 90px;
  }

  .name-track {
    font-size: 20px;
  }

  .header {
    height: 90px;
  }

  .aside {
    padding: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .header-user-name {
    font-size: 14px;
  }

  .header-user-status {
    font-size: 12px;
  }

  .search {
    padding-left: 30px;
    width: 80%;
  }

  .search::placeholder {
    font-size: 12px;
    margin-left: 10px;
  }

  .header-search img {
    width: 20px;
  }

}

@media only screen and (max-width: 300px) {
  .name-tracks {
    font-size: 20px;
  }

  .name-track {
    font-size: 15px;
  }

  .right-left img {
    width: 15px;
  }

  .timeб .header-user-name {
    font-size: 12px;
  }

  .header-user-status {
    text-align: start;
  }

  .album {
    width: 80px;
    box-shadow: 5px -5px 6px 5px #ffffff6b;
  }

  .circle {
    width: 5px;
    height: 5px;
    margin: 3px;
  }

  .carousel {
    margin-top: 10px;
  }

  .header-search {
    margin-left: 10px;
  }

  .search {
    border-radius: 5px;
    padding-right: 5px;
    height: 30px;
  }
}

@media only screen and (max-width: 250px) {
  .main {
    padding: 10px;
  }

  .num {
    font-size: 12px;
  }

  .right-side img {
    width: 50px;
  }

  .time {
    font-size: 12px;
  }

  .right-left img {
    width: 10px;
  }
  .carousel{
    display: none;
  }
  .img img{
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 250px) {
  .time-menu{
    display: none;
  }
  .header-search{
    display: none;
  }
  .right-left{
    display: none;
  }
}
@media only screen and (max-width: 171px) {
  .item{
    font-size: 12px !important;
  }
  .name p{
    font-size: 9px !important;
  }

  .img img{
    width: 20px !important;
    height: 20px !important;
  }

  .name-tracks{
    font-size: 16px;
  }
  .right-side{
    display: none;
  }
  .aside-logo{
    width: 30px;
    height: 30px;
  }
  .info_tracks{
    padding: 10px;
  }
}